.i-container{
    height:50vh;
    
}

.i-name{
    text-align:center;
}
.l-r-container{
    display:flex;
}
.left{
    flex:1
}

.right{
    flex:1
}

.i-name{
    padding:50px;
    font-size:30px;
}
/* left */
.i-title-wrapper{
    padding-left:10px;
}

.i-title-item{
    font-size:20px;
    
}

.i-right{
    padding:20px;
}
