.body{
    margin:0;
    padding:0;
}
.about-wrapper{
    background-color: darkslategrey;
}
.about {
  text-align: center;
  
}

.vim-img {
  border-radius: 50px;
  width: 20%;
  height:25%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}
