.educations {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin: 16px 0px;
  padding: 8px 0px;
  /* padding-left: 250px; */
}

.education-wrapper {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin-bottom: 16px;
}
.education-schoolcourse {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.education-school {
  font-size: 20px;
  font-weight: 600;
}

.education-duration {
  display: flex;
  flex: 1;

  font-weight: 600;
}

.education-whereduration {
  display: flex;
  flex: 1;
  margin-right: 400px;
}
