.project-card {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 16px 0px;
  padding: 8px 0px;
}

.project-photo {
  width: 30%;
}

.project-info {
  margin-right: 20px;
}

.project-title {
  font-size: 20px;
  font-weight: 600;
}

.project-tags {
  display: flex;
  max-width: 60%;
  flex-wrap: wrap;
}

.tag {
  padding: 4px 8px;
  background-color: silver;
  border-radius: 6px;
  margin-right: 6px;
  margin-bottom: 4px;
}
