.body {
  padding: 50px;

}

.about {
  padding-bottom: 48px;
  flex-direction: column;
  flex-wrap: wrap;

}

.about-top {
  display:flex;
  justify-content: center;
  align-items:center;
 
}

.own-photo {
  height: 200px;
  border-radius: 50px;
  margin-left: 60px;
}

.about-info {
  font-size: 20px;
  margin-right:60px;
}

.about-aspire {
  padding-left: 30px;
}

.my-name {
  font-size: 28px;
  color: darkblue;
}

@media only screen and (max-width: 720px) {
  .about-top {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .own-photo {
    height: 180px;
  }

  .about-info {
    font-size: 20px;
  }
  .my-name{
      font-size:26px;
  }
}
